body{
    background: url('1.jpg') fixed;
    background-size: cover;
}
.main-menu {
background: white;
    padding: 0;
opacity: .5;

}
.menu{
background: white;
    padding: 15px;
    cursor: pointer;
    height: auto; 
    opacity: .5;  
}
.menu:hover{
      opacity: .8;
}
.main-menu li {
  background: white;

    padding: 15px;
    cursor: pointer;
    height: auto;
}
.main-menu:hover{
    opacity: .8;
}

.main-section {
   background:white;

    width:70vw;

}

#bgChanger {
    position: absolute;
    top: 10px;
    right: 10px;
}