body{
    background: url('1.jpg') fixed;
    background-size: cover;
}
.main-menu {
background: -moz-linear-gradient(left, #ffffff, #006666, #003333, #000000);
background: -webkit-linear-gradient(left, #ffffff, #006666, #003333, #000000);
background: -ms-linear-gradient(left, #ffffff, #006666, #003333, #000000);
background: -o-linear-gradient(left, #ffffff, #006666, #003333, #000000);
background: linear-gradient(to right, #ffffff, #006666, #003333, #000000);
    padding: 0;
opacity: .5;

}
.menu{
background: -moz-linear-gradient(left, #ffffff, #006666, #003333, #000000);
background: -webkit-linear-gradient(left, #ffffff, #006666, #003333, #000000);
background: -ms-linear-gradient(left, #ffffff, #006666, #003333, #000000);
background: -o-linear-gradient(left, #ffffff, #006666, #003333, #000000);
background: linear-gradient(to right, #ffffff, #006666, #003333, #000000);
    padding: 15px;
    cursor: pointer;
    height: auto; 
    opacity: .5;  
}
.menu:hover{
      opacity: .8;
}
.main-menu li {
  background: -moz-linear-gradient(left, #ffffff, #006666, #003333, #000000);
background: -webkit-linear-gradient(left, #ffffff, #006666, #003333, #000000);
background: -ms-linear-gradient(left, #ffffff, #006666, #003333, #000000);
background: -o-linear-gradient(left, #ffffff, #006666, #003333, #000000);
background: linear-gradient(to right, #ffffff, #006666, #003333, #000000);
    padding: 15px;
    cursor: pointer;
    height: auto;
}
.main-menu:hover{
    opacity: .8;
}

.main-section {
   background: -moz-linear-gradient(left, #ffffff, #006666, #003333, #000000);
background: -webkit-linear-gradient(left, #ffffff, #006666, #003333, #000000);
background: -ms-linear-gradient(left, #ffffff, #006666, #003333, #000000);
background: -o-linear-gradient(left, #ffffff, #006666, #003333, #000000);
background: linear-gradient(to right, #ffffff, #006666, #003333, #000000);
    padding: 15px;
    width:70vw;

}

